
.nav {
	display: flex;
	justify-content: space-around;
	font-family: 'Muli', sans-serif;
	padding: 15px 0 15px 0;
	text-transform: lowercase;
	position: fixed;
	top: 0;
	  left: 0;
	  z-index: 9999;
    background: white;
    list-style: none;
    width: 100%;
}

.nav a, a:visited  {
    text-decoration: none; 
    color: black;
}

.nav a:hover {
	color: #45B39D;
	text-decoration: none;
	cursor: pointer;
}

.firsthalf a {
	text-decoration: none;
	font-color: black;
}

span.space {
    padding-right: 40px;
}

span.social {
    padding-right: 8px;
}

.intro {
	background: url('../maybe.jpg') no-repeat;
	background-size: cover;
    background-position: center;
    height: 100vh;
}

.introtext {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 92px;
    line-height: 90px;
    color: #E57373;
    padding: 100px 0 0 50px;
}

.seperateintrotext {
    color: black;
    font-weight: 600;
    padding: 40px 0 10px 65px;
    font-size: 30px;
}

.aboutmewhole {
	background-color: #45B39D;
	color: white;
	font-family: 'Muli', sans-serif;
	padding: 25px 10px;
}

.aboutmeinfo {
    margin: 15px;
    padding-top: 35px;
}

.aboutmebody {
	display: flex;
	padding: 18px;
    text-align: center;
}

.aboutmeinfo2 {
    padding-right: 15px;
}


.services {
	font-family: 'Muli', sans-serif;
}

.hi {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 26px;
    line-height: 25px;
    padding: 35px 50px 40px 50px;
}

.servicesoffered {
    font-size: 20px;
}

.mainservices {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
}

.servicesdescribe {
    text-align: center;
}

span.aboutmewhole1 {
    font-size: 62px;
    display: block;
    font-family: 'Josefin Sans', sans-serif;
   	padding: 22px 40px 0 40px;
}

.individual {
    padding: 50px;
}

.space3 {
   padding: 15px;
}

.projectstitle {
	font-size: 62px;
    display: block;
    font-family: 'Josefin Sans', sans-serif;
    color: #45B39D;
    padding: 60px 40px 0 40px;
}

.contact {
	background: #45B39D;
	padding-bottom: 60px;
}

.contactme {
	font-family: 'Josefin Sans', sans-serif;
    font-size: 62px;
    line-height: 90px;
    color: white;
    text-align: center;
    padding-top: 90px;
}

.contactmetext {
	color: #fff;
    text-align: center;
    padding-top: 70px;
    font-size: 18px;
    font-weight: 600;
}

.megbtn {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
}

.buttondiv {
	text-align: center;
	display: block;
	padding-top: 50px;
}

button.megbtn {
    width: 225px;
    height: 58px;
    border-radius: 56px;
    cursor: pointer;
    font-size: 20px;
    background: #E57373;
}

	.images{
	    -webkit-transition: all 0.7s ease;
		transition: all 0.7s ease;
	}

	.images img:hover {
		-webkit-box-shadow: 0px 0px 15px 5px rgba(163,228,215,1);
		box-shadow: 0px 0px 15px 5px rgba(163,228,215,1);
	}

.skills {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 40px;
}

.skillitem {
	display: block;
}

/*TEXT ANIMATIONS */


.hvr-bounce-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-out:hover, .hvr-bounce-out:focus, .hvr-bounce-out:active {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}


@media (max-width: 699px) {

	.hi {
		font-size: 20px;
	}

	span.aboutmewhole1{
    	font-size: 32px;
	}

	.aboutmeinfo {
		margin: 0;
		font-size: 14px;
	}

	.projectstitle {
    font-size: 32px;
	}

	.contactme {
    	font-size: 42px;
    }

    .contactmetext {
		font-size: 16px;
		padding: 10px;
    }

    button.megbtn {
	    width: 260px;
	    height: 78px;
	    cursor: pointer;
	    font-size: 20px;
	}

	.introtext {
	    font-size: 52px;
	    line-height: 60px;
	  }

	  .seperateintrotext {
		font-size: 20px;
	  }

	  .nav {
	  	display: inline-block;
	  }

  .firsthalf {
	    display: inline-block;
	    padding: 5px;
	    font-size: 12px;
	}

	span.space2 {
	    padding: 5px;
	    text-align: center;
	 }

	 span.space {
     padding-right: 10px; 
	}

	span.designicon {
	    padding-top: 40px;
	    display: inline-block;
	}

	span.devicon {
	    padding-top: 40px;
	    display: inline-block;
	}

	span.techwriting {
	    padding-top: 40px;
	    display: inline-block;
	}
	

}
